<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>
		
                    <div class="col-md-12">
                        <div class="mx-2 my-1">
                            <ul class="list-unstyled mb-1">

                                <li class="media mb-1">
                                    <div class="media-body">
									    <div class="d-flex align-items-baseline">
                                            <table
            style="width:50%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tbody>
              <tr>
                <td style="text-align:center">
                  <br>
              <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=0d0000&w=a&t=tt&d=aUfqYWmeAdQF6XqAeMHEpucwaiU0a5xokrPkXTq50mw&co=ffffff&ct=696666'></script>
			 </tr>
            </tbody>
        </table>
										</div>                                                   
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
